.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading {
  font-size: 2.8rem;
  color: #174dce;
  text-shadow: 2px 2px #17a1ce;
  margin-right: 30rem;
}

.title {
  width: 90%;
  height: 4rem;
  border-radius: 10px;
  text-align: center;
  border: 0px solid blue;
  font-family: Mulish;
  box-shadow: 5px 5px 8px #888888;
  font-size: 1.5rem;
  transition: width 0.3s ease-in;
}

.title:focus {
  width: 95%;
  border: 0px solid blue;
  border-radius: 10px;
  outline: none;
}

.options {
  margin: 1rem;
  padding: 0.4rem;
  border: 1.3px solid blue;
  border-radius: 5px;
  width: 80%;
  margin: 1rem auto;
}
.option {
  height: 3rem;
  border-radius: 5px;
  font-family: Mulish;
  border: 0px;
  width: 90%;
  font-size: 1rem;
  outline: none;
}

.submit {
  transition: top 1s;
  margin-bottom: 1rem;
}

.switch_div {
  margin: 1rem auto;
}

.poll_live {
  font-family: Mulish;
  height: 3rem;
  border: 1px solid blue;
  margin: 2rem auto;
  color: #696969;
  width: 70%;
  color: #696969;
  font-size: 1.25rem;
  line-height: 3rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  -webkit-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
.poll_live:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.poll_live_selected {
  transform: scale(1.05);
  font-family: Mulish;
  height: 3rem;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #009ffd, #2a2a72);
  border-image-slice: 1;
  border-radius: 4px;
  margin: 1.5rem auto;
  width: 75%;
  color: #696969;
  font-size: 1.25rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  -webkit-box-shadow: 2px 0px 37px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 37px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 37px -10px rgba(0, 0, 0, 0.75);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.options_div {
  width: 55%;
  height: 60%;
}

.head_title {
  margin-bottom: 4rem;
  font-family: Mulish;
  font-weight: 600;
}
.home_img {
  height: 25rem;
  margin: 1rem auto;
  margin-right: 2rem;
  max-width: 400px;
  min-width: 400px;
}

.flex_home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.share_icons {
  padding: 1rem;
}

.share_icon {
  padding: 1rem;
  margin: 0.5rem;
}

.min_wide {
  min-width: 600px;
}

.flex_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poll_live_expire {
  font-family: Mulish;
  height: 3rem;
  border: 1px solid blue;
  margin: 2rem auto;
  width: 75%;
  color: #696969;
  font-size: 1.25rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  -webkit-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
.poll_live_expire_selected {
  font-family: Mulish;
  height: 3rem;
  border: 2px solid blue;
  margin: 2rem auto;
  width: 75%;
  color: #696969;
  transform: scale(1.05);
  font-size: 1.25rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
  -webkit-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.graph {
  width: 40%;
  height: 300px;
}
.create_btn {
  float: right;
  margin: 1rem;
}

.not_img {
  height: 25rem;
  margin: auto;
}
