@media screen and (max-width: 1050px) {
  .heading {
    margin: auto;
    margin-right: 0;
  }
  .home_img {
    margin: auto;
    margin-left: 5rem;
  }
  .switch_div {
    flex-direction: row;
  }
  .min_wide {
    min-width: 100%;
    width: 100%;
  }
  .home_img {
    margin: auto;
  }
}

@media screen and (max-width: 975px) {
  .ribbon {
    display: none;
  }
  .graph {
    width: 80%;
    height: 300px;
  }
  .options_div {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
}
