@media screen and (max-width: 1050px) {
  .heading {
    font-size: 1.8rem;
    margin-right: 0.5rem;
  }
  .heading1 {
    font-size: 1.6rem;
  }

  .switch_div {
    flex-direction: row;
  }
  .min_wide {
    min-width: 100%;
    width: 100%;
  }
  .home_img {
    margin: auto;
  }
  .not_img {
    margin-top: 5rem;
    height: 15rem;
  }
  .google_head {
    margin-top: 2rem;
  }
  .home_img1 {
    max-width: 300px;
    max-height: 300px;
  }
  .logout_grid {
    display: grid;
    grid-template-columns: 70% 15%;
  }
}

@media screen and (max-width: 975px) {
  .ribbon {
    display: none;
  }
  .graph {
    width: 90%;
    height: 300px;
    margin: auto;
  }
  .options_div {
    width: 100%;
  }
  .title {
    font-size: 1rem !important;
  }

  .not_found {
    margin-bottom: 23rem;
  }
  .head_title {
    font-size: 1rem;
    margin: 0.5rem;
    margin-bottom: 0.8rem;
  }
  .poll_live_expire {
    font-size: 1rem;
  }
  .poll_live_selected {
    font-size: 1rem;
  }
  .poll_live_expire_selected {
    font-size: 1rem;
  }
  .poll_live {
    font-size: 1rem;
  }
}
